numpy==1.16.2
matplotlib==3.0.3
rouge==0.3.1
pymongo==3.7.2
gensim==3.7.1
nltk==3.4
umap==0.1.1
sentencepiece==0.1.81
glob2==0.6
visdom==0.1.8.8
seaborn==0.9.0
tqdm==4.31.1
torch==1.0.1.post2
pandas==0.24.2
tabulate==0.8.3
graphviz==0.10.1
scikit_learn==0.20.3
PyYAML==5.1
